.Doadores {
    text-align: center;
  }
  
  .Doadores-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Doadores-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Doadores-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Doadores-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .Doadores-product{
    border-top: solid 1px #282c34;
    padding: 20px;
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form input{
    display: flex;
    flex-direction: column;
    margin: 5px;
  }